{% extends "layout.html" %}
{% block content %}
  <section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
      <div class="slider-item ">
        <a href="{{ url_for('Social_Hub') }}"></a><div class="overlay"></div></a>
        <div class="hero-number-back">01</div> 
        <div class="case-study-title">Do more with less</div> 
        <div class="container">
          <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third js-fullheight order-md-last img" style='background-image:url("{{ url_for("static", filename="images/bg_1.png") }}");'>
              <a href="{{ url_for('Social_Hub') }}"></a><div class="overlay"></div></a>
            </div>
            <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <div class="text">
                <span class="subheading">Hello!</span>
                <h1 class="mb-4 mt-3">I'm <span>Benson Sanga</span></h1>
                <h2 class="mb-4">An Architect</h2>
                <p><a href="{{ url_for('about') }}" class="btn btn-primary py-3 px-4">Hire me</a> <a href="{{ url_for('about') }}" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="slider-item">
        <a href="{{ url_for('Social_Hub') }}"></a><div class="overlay"></div></a>
        <div class="hero-number-back">Ben</div> 
        <div class="case-study-title">I mean if can</div> 
        <div class="container">
          <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third js-fullheight order-md-last img" style='background-image:url("{{ url_for("static", filename="images/bg_2.png") }}");'>
              <a href="{{ url_for('Social_Hub') }}"></a><div class="overlay"></div></a>
            </div>
            <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <div class="text">
                <span class="subheading">Hello!</span>
                <h1 class="mb-4 mt-3">I'm an <span>Architect</span> based in Tanzania</h1>
                <p><a href="{{ url_for('about') }}" class="btn btn-primary py-3 px-4">Hire me</a> <a href="{{ url_for('about') }}" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="hero-number">Architect</div> 

  
  
  <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 col-lg-5 d-flex">
          <div class="img-about img d-flex align-items-stretch">
            <a href="{{ url_for('Social_Hub') }}"></a><div class="overlay"></div></a>
            <div class="img d-flex align-self-stretch align-items-center" style='background-image:url("{{ url_for("static", filename="images/bg_1.png") }}");'>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate">
              <h1 class="big">About</h1>
              <h2 class="mb-4">About Me</h2>
              <p>I am young design passionte about design and making. I am facinated by the idea using technology and digital innovation to leverage design that is sustainable as well as timeless.</p>
              <ul class="about-info mt-4 px-md-0 px-2">
                <li class="d-flex"><span>Name:</span> <span>Benson Sanga</span></li>
                <li class="d-flex"><span>Date of birth:</span> <span>April 16, 1997</span></li>
                <li class="d-flex"><span>Address:</span> <span>Mbeya 535, Tanzania</span></li>
                <li class="d-flex"><span>P.O.Box :</span> <span>535</span></li>
                <li class="d-flex"><span>Email:</span> <span>bensonsanga@hotmail.com</span></li>
                <li class="d-flex"><span>Phone: </span> <span>+90552826866</span></li>
              </ul>
            </div>
          </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3">
            <div class="text">
              <p class="mb-4">
                <span class="number" data-number="34">0</span>
                <span>Projects complete</span>
              </p>
              <p><a href='{{ url_for("static", filename="Benson_Sanga_Resume.pdf") }}' class="btn btn-primary py-3 px-3" download>Download my CV</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">Projects</h1>
          <h2 class="mb-4">My Projects</h2>
          <p>My projects over the years learning. Some professional and personal projects in the mix</p>
        </div>
      </div>
      <div class="row">
        <a href="{{ url_for('Community_Center') }}"></a>
        <div class="col-md-4">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style='background-image:url("{{ url_for("static", filename="images/project-4.jpg") }}");'>
            
            <a href="{{ url_for('Community_Center') }}"></a><div class="overlay"></div></a>
            <div class="text text-center p-4">
              <h3><a href="{{ url_for('Community_Center') }}">Architecture &amp;  Design</a></h3>
              <span>Community Center</span>
            </div>
          </div>
        </div></a>
        <a href="{{ url_for('Cultural_Center') }}"></a>
        <div class="col-md-8">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style='background-image:url("{{ url_for("static", filename="images/project-5.jpg") }}");'>
           
            <a href="{{ url_for('Cultural_Center') }}"></a><div class="overlay"></div></a>
            <div class="text text-center p-4">
              <h3>Competition Project</h3>
              <span>Cultural Center</span>
            </div>
          
          </div>
        </div>
      </a>
        <a href="{{ url_for('Technocity') }}"></a>
        <div class="col-md-8">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center"  style='background-image:url("{{ url_for("static", filename="images/project-1.jpg") }}");'>
            
            <a href="{{ url_for('Technocity') }}"></a><div class="overlay"></div></a>
            <div class="text text-center p-4">
              <h3><a href="{{ url_for('Technocity') }}">Rental Office Design</a></h3>
              <span>Technocity Center</span>
            </div
            >
          </div>
        </div></a>

        <a href="{{ url_for('Kindergartten') }}"></a>
        <div class="col-md-4">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style='background-image:url("{{ url_for("static", filename="images/project-6.jpg") }}");'>
            
              <a href="{{ url_for('Kindergartten') }}"></a><div class="overlay"></div></a>
              <div class="text text-center p-4">
                <h3><a href="{{ url_for('Kindergartten') }}">Education Facility Design</a></h3>
                <span>Kindergartten </span>
              </div>
              
            </div>
        </div></a>
        
        <a href="{{ url_for('Exhibiton_Design') }}"></a>
            <div class="col-md-4">
              <div class="project img ftco-animate d-flex justify-content-center align-items-center" style='background-image:url("{{ url_for("static", filename="images/project-2.jpg") }}");'>>
              
                <a href="{{ url_for('Exhibiton_Design') }}"></a><div class="overlay"></div></a>
                <div class="text text-center p-4">
                  <h3><a href="{{ url_for('Exhibiton_Design') }}">Exhibiton Design</a></h3>
                  <span>Museum</span>
                </div>
                
              </div>
            </div></a>

            <a href="{{ url_for('Social_Hub') }}"></a>
              <div class="col-md-8">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style='background-image:url("{{ url_for("static", filename="images/project-3.jpg") }}");'>
                
                  <a href="{{ url_for('Social_Hub') }}"></a><div class="overlay"></div></a>
                  <div class="text text-center p-4">
                    <h3><a href="{{ url_for('Social_Hub') }}">Social Hub</a></h3>
                    <span>Public Building Design</span>
                  </div>
                  
                </div>
              </div>
            </a>

            
            <a href="{{ url_for('hub') }}"></a>
        <div class="col-md-8">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center"  style='background-image:url("{{ url_for("static", filename="images/402/01.jpg") }}");'>
            
            <a href="{{ url_for('hub') }}"></a><div class="overlay"></div></a>
            <div class="text text-center p-4">
              <h3><a href="{{ url_for('hub') }}">Transportation Hub</a></h3>
              <span>Station and Performance Theatres</span>
            </div
            ></a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style='background-image:url("{{ url_for("static", filename="images/fab/01.png") }}");'>
            <a href="{{ url_for('fab') }}">
              <a href="{{ url_for('fab') }}"></a><div class="overlay"></div></a>
              <div class="text text-center p-4">
                <h3><a href="{{ url_for('fab') }}">Pavilion Design</a></h3>
                <span>Digital Fabrication</span>
              </div>
              </a>
            </div>
        </div>



          </div>
        </div>
      </div>
    </div>
  </section>


   <section class="ftco-section" id="skills-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">Skills</h1>
          <h2 class="mb-4">My Skills</h2>
          <p>Apart from my amazing pancake making skills I also posses other skills</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="progress-wrap ftco-animate">
            <h3>Autodesk Suite</h3>
            <div class="progress">
              <div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100" style="width:90%">
                <span>90%</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box">
          <div class="progress-wrap ftco-animate">
            <h3>Autodesk Design Tools</h3>
            <div class="progress">
              <div class="progress-bar color-2" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width:85%">
                <span>85%</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box">
          <div class="progress-wrap ftco-animate">
            <h3>Adobe Viz Suite</h3>
            <div class="progress">
              <div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100" style="width:95%">
                <span>95%</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box">
          <div class="progress-wrap ftco-animate">
            <h3>Sketching and Painting</h3>
            <div class="progress">
              <div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100" style="width:90%">
                <span>90%</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box">
          <div class="progress-wrap ftco-animate">
            <h3>3D Modeling</h3>
            <div class="progress">
              <div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span>70%</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box">
          <div class="progress-wrap ftco-animate">
            <h3>Model Making</h3>
            <div class="progress">
              <div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                <span>80%</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-10 heading-section text-center ftco-animate">
          <h1 class="big big-2">Resume</h1>
          <h2 class="mb-4">Resume</h2>
          <p>I'm 23, and over the past couple of years i have immersed y head into the design wolrd and accumulated some experience in design and architecture.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="resume-wrap ftco-animate">
            <span class="date">2016-2020</span>
            <h2>Bachelor's Degree in Architecture</h2>
            <span class="position">Ozyegin University</span>
            <p class="mt-4">Four year design training in Turkey, Istanbul. This was a studio based training on design and architecture practices</p>
          </div>
          <div class="resume-wrap ftco-animate">
            <span class="date">2010-2015</span>
            <h2>High School</h2>
            <span class="position">FEZA BOYS HIGH SCHOOL</span>
            <p class="mt-4">I attended one of the best schools in Tanzania for high school. And I completed PCM combination with a Division 1</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="resume-wrap ftco-animate">
            <span class="date">2019</span>
            <h2>Intern Architect</h2>
            <span class="position">MBEYA, TZ</span>
            <p class="mt-4">I worked as an intern in Envirolink architects for around six weeks as part of my school internship program. I was responsile for daily architectural office task like designing and visualizations</p>
          </div>
          <div class="resume-wrap ftco-animate">
            <span class="date">2019</span>
            <h2>Intern Project Manager</h2>
            <span class="position">MBEYA, TZ</span>
            <p class="mt-4">I worked as an intern on a construction site where I oversaw the Conllection and assembly of materials need to construct a ten storey residential building</p>
          </div>
          <div class="resume-wrap ftco-animate">
            <span class="date">2017</span>
            <h2>Motion Graphics Animator</h2>
            <span class="position">MBEYA, TZ</span>
            <p class="mt-4">I worked as an animator for around three months creating commercial animations using 3d tools and compositing tools</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
          <p><a href='{{ url_for("static", filename="Benson_Sanga_Resume.pdf") }}' class="btn btn-primary py-3 px-3" download>Download my CV</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section" id="services-section">
    <div class="container">
      <div class="row justify-content-center py-5 mt-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">Services</h1>
          <h2 class="mb-4">Services</h2>
          <p>I work in Architecture and some other diverse services involving Design and computational problem solving</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center d-flex ftco-animate">
          <a href="{{ url_for('about') }}" class="services-1">
            <span class="icon">
              <i class="flaticon-analysis"></i>
            </span>
            <div class="desc">
              <h3 class="mb-5">Architecture</h3>
            </div>
          </a>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
          <a href="{{ url_for('about') }}" class="services-1">
            <span class="icon">
              <i class="flaticon-flasks"></i>
            </span>
            <div class="desc">
              <h3 class="mb-5">Visualizations</h3>
            </div>
          </a>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
          <a href="{{ url_for('about') }}" class="services-1">
            <span class="icon">
              <i class="flaticon-ideas"></i>
            </span>
            <div class="desc">
              <h3 class="mb-5">Web Developer</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


 


  <section class="ftco-section" id="blog-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2">Articles</h1>
          <h2 class="mb-4">Publications</h2>
          <p>Some times I dabble into writting as a way to indulge my thoughts and put them out there.</p>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="single.html" class="block-20" style='background-image:url("{{ url_for("static", filename="images/image_1.jpg") }}");'>
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2">June 21, 2019</span>
                  <a href="{{ url_for('about') }}" class="mr-2">Benson</a>
                  <a href="{{ url_for('about') }}" class="meta-chat"><span class="icon-chat"></span> 21</a>
                </p>
              </div>
              <h3 class="heading"><a href="single.html">Why designers should learn code</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="single.html" class="block-20" style='background-image:url("{{ url_for("static", filename="images/image_2.jpg") }}");'>
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2">April 21, 2019</span>
                  <a href="{{ url_for('about') }}" class="mr-2">Benson</a>
                  <a href="{{ url_for('about') }}" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading"><a href="single.html">What do computer mean for the future of design</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry">
            <a href="single.html" class="block-20" style='background-image:url("{{ url_for("static", filename="images/image_3.jpg") }}");'>
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2">June 15, 2018</span>
                  <a href="{{ url_for('about') }}" class="mr-2">Benson</a>
                  <a href="{{ url_for('about') }}" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading"><a href="single.html">My minimal working setup (Tools)</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container">
      <div class="row d-md-flex align-items-center">
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="10">0</strong>
              <span>Awards</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="35">0</strong>
              <span>Complete Projects</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="12">0</strong>
              <span>Happy Customers</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="500">0</strong>
              <span>Cups of coffee</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-hireme img margin-top" style='background-image:url("{{ url_for("static", filename="images/bg_1.png") }}");'>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 ftco-animate text-center">
          <h2>I'm <span>Available</span> for freelancing</h2>
          <p>Thanks for checking out my site and I would like to work with you sometime</p>
          <p class="mb-0"><a href="{{ url_for('about') }}" class="btn btn-primary py-3 px-5">Hire me</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2">Contact</h1>
          <h2 class="mb-4">Contact Me</h2>
          <p>Say hi, give me feedback or hire me. Waiting to hear from you</p>
        </div>
      </div>

      <div class="row d-flex contact-info mb-5">
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-map-signs"></span>
            </div>
            <h3 class="mb-4">Address</h3>
            <p>535 Mbeya, TanzaniaJakaranda Street</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-phone2"></span>
            </div>
            <h3 class="mb-4">Contact Number</h3>
            <p><a href="tel://1234567920">+ 552 824 78 66</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-paper-plane"></span>
            </div>
            <h3 class="mb-4">Email Address</h3>
            <p><a href="mailto:info@yoursite.com">bensonsanga@hotmail.com</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-globe"></span>
            </div>
            <h3 class="mb-4">Website</h3>
            <p><a href="{{ url_for('about') }}">bensonad.pro</a></p>
          </div>
        </div>
      </div>

      <div class="row no-gutters block-9">
        <div class="col-md-6 order-md-last d-flex">
        <!--Start new contact form --> 
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://twitter.us19.list-manage.com/subscribe/post?u=37b5e38441c296e9693990744&amp;id=e339b4f82a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate bg-light p-4 p-md-5 contact-form" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          
          <div class="mc-field-group form-group form-group">
            <input type="text" placeholder="Your Name" value="" name="FNAME" class="form-control" id="mce-FNAME">
          </div>
          <div class="mc-field-group form-group form-group">
          </label>
            <input type="email" placeholder="Your Email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
          </div>
          <div class="mc-field-group form-group form-group">
            <input type="text" placeholder="Subject" value="" name="MMERGE2" class="form-control" id="mce-MMERGE2">
          </div>
          <div class="mc-field-group form-group form-group">
            <textarea type="text" placeholder="Message" cols="30" rows="7"  value="" name="MMERGE3" class="form-control" id="mce-MMERGE3"></textarea>
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_37b5e38441c296e9693990744_e339b4f82a" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Send Message" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary py-3 px-5"></div>
              </div>
          </form>
          </div>
          
          <!--End mc_embed_signup-->
        </div>

        <div class="col-md-6 d-flex">
          <div class="img" style='background-image:url("{{ url_for("static", filename="images/about.jpg") }}");'></div>
        </div>
      </div>
    </div>
  </section>


  <footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About</h2>
            <p>An architect portfolio and CV webApp</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="https://twitter.com/YMCMBennie"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com/benson.sanga"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/benson.s.s/"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('home') }}"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
            </ul>
          </div>
        </div> 
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Services</h2>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Web Design</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Web Development</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Business Strategy</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Data Analysis</a></li>
              <li><a href="{{ url_for('about') }}"><span class="icon-long-arrow-right mr-2"></span>Graphic Design</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">535, Mbeya CRP, Tanzania</span></li>
                <li><a href="{{ url_for('about') }}"><span class="icon icon-phone"></span><span class="text">+905525381168</span></a></li>
                <li><a href="{{ url_for('about') }}"><span class="icon icon-envelope"></span><span class="text">bensonsanga@hotmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Thank you for checking out<i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="#" target="_blank">My portfolio</a>
</p>
        </div>
      </div>
    </div>
  </footer>

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

{% endblock content %}
