
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bato Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo128.png') }}" />

	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/bootstrap.css') }}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/owl.theme.default.min.css') }}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/magnific-popup.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/css1/style.css') }}">


	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/js1/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/js1/respond.min.js') }}"></script>
	<![endif]-->

	</head>
	<body>

		<div id="colorlib-hero" class="js-fullheight">
			<div class="owl-carousel">
				<div class="item">
					<div class="hero-flex js-fullheight">
						<div class="col-three-forth">
							<div class="hero-img js-fullheight" style="background-image: url({{ url_for('static', filename='images/img_bg_1.jpg') }});"></div>
						</div>
						<div class="col-one-forth js-fullheight">
							<div class="display-t js-fullheight">
								<div class="display-tc js-fullheight">
									<h2 class="number">01/03</h2>
									<div class="text-inner">
										<div class="desc">
											<span class="tag">Welcome</span>
											<h2>Photography is on it's way.</h2>
											<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
											<p><a href="work.html" class="btn-view">View Galleries <i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="hero-flex js-fullheight">
						<div class="col-three-forth">
							<div class="hero-img js-fullheight" style="background-image: url({{ url_for('static', filename='images/img_bg_2.jpg') }});"></div>
						</div>
						<div class="col-one-forth js-fullheight">
							<div class="display-t js-fullheight">
								<div class="display-tc js-fullheight">
									<h2 class="number">02/03</h2>
									<div class="text-inner">
										<div class="desc">
											<span class="tag">Photography</span>
											<h2>Capture interesting things.</h2>
											<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
											<p><a href="work.html" class="btn-view">View Galleries <i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="hero-flex js-fullheight">
						<div class="col-three-forth">
							<div class="hero-img js-fullheight" style="background-image: url({{ url_for('static', filename='images/img_bg_3.jpg') }});"></div>
						</div>
						<div class="col-one-forth js-fullheight">
							<h2 class="number">03/03</h2>
							<div class="display-t js-fullheight">
								<div class="display-tc js-fullheight">
									<div class="text-inner">
										<div class="desc">
											<span class="tag">Discover</span>
											<h2>Discover New Things</h2>
											<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
											<p><a href="work.html" class="btn-view">View Galleries <i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/js1/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/js1/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/js1/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/js1/jquery.waypoints.min.js') }}"></script>
	<!-- Owl Carousel -->
	<script src="{{ url_for('static', filename='js/js1/owl.carousel.min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static', filename='js/js1/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/js1/magnific-popup-options.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{ url_for('static', filename='js/js1/main.js') }}"></script>

	</body>

